.link{
    display: flex;
    flex-direction: row;
    gap: 20px;
    img{
        max-width: 77px;
        height: auto;
    }
    a{
        display: flex;
        align-items: center;
        color: black;
        text-decoration: underline;
    }
}