@import "ng-zorro-antd/ng-zorro-antd.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,YTAS,YTLC@8..144,100..1000,700,500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  .container{
    padding: 20px;
  }


h3.title{
    color: #000000;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    margin: 20px 0px;
}

h4.medium-title{
    color: #000000;
    font-size: 28px;
    font-weight: 700;
    margin: 20px 0px;
    line-height: 32px;
}

h3.subtitle{
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    margin: 20px 0px;
}

p{
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 20px 0px;
}